.form {
  max-width: 800px;
  .counter {
    font-weight: 400;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999999;
    border: 1px solid rgb(79, 98, 148);
    box-shadow: 0 0 4px rgb(79, 98, 148);

    .h1 {
      border-bottom: 1px solid rgb(79, 98, 148);
    }
  }

  hr {
    border: 1px solid #333;
    margin: 40px 0;
  }
  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
  }

  .input {
    display: block;

    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    color: black;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .react-select-input {
    width: 100%;
    color: black;
    font-size: 14px;
  }

  .button {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
  }

  .buttonBlack {
    background: black;
    border: 1px solid white;
  }
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
